<div id="Courses" class="tab-pane <% if(currentRoute === 'Classes'){%> active <%}%> notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li><a href="/student/topics/<%=classId%>">Lessons</a>
                                </li>
								<li><a href="/student/<%=classId%>/announcements/">Announcements</a>
                                </li>
								<li><a href="/student/<%=classId%>/quizzes">Quizzes</a>
                                </li>
								<li><a href="/student/<%=classId%>/assignments">Assignments</a>
                                </li>
                                
                            </ul>
                        </div>