    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- 404 Page area Start-->
    
    <div class="error-page-area">
        <div class="error-page-wrap">
            <i class="notika-icon notika-close"></i>
            <h2>ACCESS DENIED 
                <!-- <span class="counter">404</span> -->
            </h2>
            <p>Sorry, but the page you are looking is out of bounds. 
                Try checking the URL for an error, then hit the refresh button 
                on your browser or try found something else in our app.</p>
            <a href="/control" class="btn">Dashboard</a>
            <a href="#" class="btn error-btn-mg">Report Problem</a>
        </div>
    </div>
    <!-- 404 Page area End-->
   