<div class="form-element-list">
	<form id="announcementForm">
		<div class="basic-tb-hd">
			<h2>Announcement</h2>
			<p>
				Form control which supports multiple lines of text. Change 'rows'
				attribute as necessary.
			</p>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="floating-numner form-rlt-mg">
					<p>Announcement Header/Agender</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="form-group">
					<div class="nk-int-st">
						<textarea
							class="form-control"
							rows="2"
							id="header"
							placeholder="Let us type some lorem ipsum...."
						></textarea>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="floating-numner">
					<p>Messages</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="form-group">
					<div class="nk-int-st">
						<textarea
							class="form-control auto-size"
							rows="5"
							id="message"
							placeholder="Start pressing Enter to see growing..."
						></textarea>
					</div>
				</div>
			</div>
		</div>

		<div class="contact-btn mg-t-30">
			<button
				type="button"
				class="btn btn-cancel waves-effect"
				id="btnCancel"
			>
				Cancel
			</button>
			<button
				type="submit"
				class="button btn waves-effect"
				form="announcementForm"
			>
				Make Announcement
			</button>
		</div>
	</form>
</div>

<script type="text/javascript">
	const announcementForm = document.getElementById("announcementForm");
	const btnCancel = document.getElementById("btnCancel");
	announcementForm.addEventListener("submit", async e => {
		e.preventDefault();

		const header = document.getElementById("header").value;
		const message = document.getElementById("message").value;

		const annoucement = await fetch(
			`<%=baseUrl %>/announcement/class/<%= classId %>/new`,
			{
				method: "POST",
				headers: {
					"Content-Type": "application/json",
				},
				body: JSON.stringify({ header, message }),
			}
		).then(response => response.json());

		if (annoucement.status === "OK") {
			setTimeout(function () {
				swal({
					title: "Done",
					text: "Annoucement Made.",
					type: "success",
				})
					.then(() => {
						window.location.reload();
					})
					.catch(() => {
						window.location.reload();
					});
			}, 1000);
		} else {
			alert(announcementt.error);
			console.log(announcementt.error);
			$("#error-dialog").show();
		}
	});

	btnCancel.addEventListener("click", () => {
		window.history.back();
	});
</script>
