<!-- Start Status area -->
<div class="notika-status-area">
    <div class="container">
        <div class="row">
            <!-- Empty Here -->
           
        </div>
    </div>
</div>
<!-- End Status area-->






<!-- Start Email Statistic area-->
<div class="notika-email-post-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
                <div class="email-statis-inner notika-shadow">
                    <div class="email-ctn-round">
                        <div class="email-rdn-hd">
                            <h2>Email Statistics</h2>
                        </div>
                       
                        <div id="main-video-grid" class="focus-video-feed"></div>
                        <div class=" button-icon-btn mg-t-15">
                        <div class="button-icon-btn button-icon-btn-rd mg-t-30 butt-mg-t-20">
                            <button class="btn btn-default btn-icon-notika"><i class="notika-icon notika-house"></i></button>
                            <button class="btn btn-default btn-icon-notika"><i class="notika-icon notika-search"></i></button>
                            <button class="btn btn-default btn-icon-notika"><i class="notika-icon notika-menu"></i></button>
                            <button class="btn btn-default btn-icon-notika"><i class="notika-icon notika-right-arrow"></i></button>
                            <button class="btn btn-default btn-icon-notika"><i class="notika-icon notika-left-arrow"></i></button>
                           
                        </div>
                        </div>
                    </div>
                </div>
            </div>




            <!-- ------------------------------------------------------ -->
            <!-- ---------------------------------------------------------- -->
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">

<div class="widget-tabs-int">
    <!-- -->
    <div class="widget-tabs-list">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#participant">Participants</a></li>
            <li><a data-toggle="tab" href="#chat">Chat</a></li>
            <li><a data-toggle="tab" href="#menu2">Tab Menu 3</a></li>
        </ul>
        <div class="tab-content tab-custom-st">
            <div id="participant" class="tab-pane fade in active">
               
<div class="recent-post-wrapper notika-shadow sm-res-mg-t-30 tb-res-ds-n dk-res-ds">
    <div class="recent-post-ctn">
        <div class="recent-post-title">
            <h2>Recent Posts</h2>
        </div>
    </div>
    <div class="recent-post-items">
        <div class="recent-post-signle rct-pt-mg-wp">
            <a href="#">
                <div class="recent-post-flex">
                    <div class="recent-post-img">
                        <img src="/img/post/2.jpg" alt="" />
                    </div>
                    <div class="recent-post-it-ctn">
                        <h2>Smith</h2>
                        <p>Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="recent-post-signle">
            <a href="#">
                <div class="recent-post-flex rct-pt-mg">
                    <div class="recent-post-img">
                        <img src="/img/post/1.jpg" alt="" />
                    </div>
                    <div class="recent-post-it-ctn">
                        <h2>John Deo</h2>
                        <p>Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="recent-post-signle">
            <a href="#">
                <div class="recent-post-flex rct-pt-mg">
                    <div class="recent-post-img">
                        <img src="/img/post/4.jpg" alt="" />
                    </div>
                    <div class="recent-post-it-ctn">
                        <h2>Malika</h2>
                        <p>Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="recent-post-signle">
            <a href="#">
                <div class="recent-post-flex rct-pt-mg">
                    <div class="recent-post-img">
                        <img src="/img/post/2.jpg" alt="" />
                    </div>
                    <div class="recent-post-it-ctn">
                        <h2>Smith</h2>
                        <p>Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="recent-post-signle">
            <a href="#">
                <div class="recent-post-flex rct-pt-mg">
                    <div class="recent-post-img">
                        <img src="/img/post/1.jpg" alt="" />
                    </div>
                    <div class="recent-post-it-ctn">
                        <h2>John Deo</h2>
                        <p>Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="recent-post-signle">
            <a href="#">
                <div class="recent-post-flex rc-ps-vw">
                    <div class="recent-post-line rct-pt-mg">
                        <p>View All</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

            </div>
            <div id="chat" class="tab-pane fade">
                
<div class="notika-chat-list notika-shadow tb-res-ds-n dk-res-ds">
    <div class="realtime-ctn">
        <div class="realtime-title">
            <h2>Chat Box</h2>
        </div>
    </div>
    <div class="card-box">
        <div class="chat-conversation">
            <div class="widgets-chat-scrollbar">
                <ul class="conversation-list">
                    <li class="clearfix">
                        <div class="chat-avatar">
                            <img src="/img/post/1.jpg" alt="male">
                            <i>10:00</i>
                        </div>
                        <div class="conversation-text">
                            <div class="ctext-wrap">
                                <i>John Deo</i>
                                <p>
                                    Hello!
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix odd">
                        <div class="chat-avatar">
                            <img src="/img/post/2.jpg" alt="Female">
                            <i>10:01</i>
                        </div>
                        <div class="conversation-text">
                            <div class="ctext-wrap chat-widgets-cn">
                                <i>Smith</i>
                                <p>
                                    Hi, How are you? What about our next meeting?
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="chat-avatar">
                            <img src="/img/post/1.jpg" alt="male">
                            <i>10:01</i>
                        </div>
                        <div class="conversation-text">
                            <div class="ctext-wrap">
                                <i>John Deo</i>
                                <p>
                                    Yeah everything is fine
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix odd">
                        <div class="chat-avatar">
                            <img src="/img/post/2.jpg" alt="male">
                            <i>10:02</i>
                        </div>
                        <div class="conversation-text">
                            <div class="ctext-wrap chat-widgets-cn">
                                <i>Smith</i>
                                <p>
                                    Wow that's great
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="chat-avatar">
                            <img src="/img/post/1.jpg" alt="male">
                            <i>10:01</i>
                        </div>
                        <div class="conversation-text">
                            <div class="ctext-wrap">
                                <i>John Deo</i>
                                <p>
                                    Doing Better i am thinking about that..
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix odd">
                        <div class="chat-avatar">
                            <img src="/img/post/2.jpg" alt="male">
                            <i>10:02</i>
                        </div>
                        <div class="conversation-text">
                            <div class="ctext-wrap chat-widgets-cn">
                                <i>Smith</i>
                                <p>
                                    Wow, You also tallent man...
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="chat-widget-input">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-sm-12 col-xs-12 chat-inputbar">
                        <div class="form-group todo-flex">
                            <div class="nk-int-st">
                                <input type="text" class="form-control chat-input" placeholder="Enter your text">
                            </div>
                            <div class="chat-send">
                                <button type="" class="btn btn-md btn-primary btn-block notika-chat-btn">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

            </div>
            <div id="menu2" class="tab-pane fade">
                <div class="tab-ctn">
                    <p>Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Vestibulum purus quam,
                        scelerisque ut, mollis sed, nonummy id, metus. Nulla sit amet est. Praesent ac the massa at
                        ligula laoreet iaculis. Vivamus aliquet elit ac nisl. Nulla porta dolor. Cras dapibus. Aliquam
                        lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
                    <p class="tab-mg-b-0">In hac habitasse platea dictumst. Class aptent taciti sociosqu ad litora
                        torquent per conubia nostra, per inceptos hymenaeos. Nam eget dui. In ac felis quis tortor
                        malesuadan of pretium. Phasellus consectetuer vestibulum elit. Duis lobortis massa imperdiet
                        quam. Pellentesque commodo eros a enim. Vestibulum ante ipsum primis in faucibus orci the luctus
                        et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia. Phasellus a est.
                        Pellentesque commodo eros a enim. Cras ultricies mi eu turpis hendrerit of fringilla. Donec
                        mollis hendrerit risus. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu,
                        nisl. Praesent egestas neque eu enim. In hac habitasse plat.</p>
                </div>
            </div>
        </div>
    </div>
</div>





             
            </div>
        </div>
    </div>
</div>
<!-- End Email Statistic area-->
